@import 'normalize.css';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --primary: #55679C;

    // Default Layout
    --default-layout-width: 1150px;
    --default-layout-header-heigh: 60px;
    --default-layout-sidebar-width: 356px;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: sans-serif;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}