@import 'normalize.css';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    // transition: 0.1s;
}

:root {
    --primary: #86c232;
    --nav-background: #121212;
    --btn-background: #2f2f2f;
    --box-background: #252525;
    --hover-background: #ffffff1f;
    --background: #000000;
    --focus-color: #ffffff33;
    --active-color: #ffffff14;
    --text-color: #fff;
    --text-opacity: 0.34;

    // Default Layout
    --default-layout-header-heigh: 60px;
    --default-layout-sidebar-width: 240px;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: sans-serif;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    color: var(--text-color);
}

[tabindex] {
    outline: none;
    outline: 1px solid var(--primary);
}

button,
input {
    outline: none;
    border: none;
}

a[href] {
    color: var(--text-color);
    text-decoration: none   ;
}