@import 'normalize.css';

* {
    box-sizing: border-box;
}

:root {
    --primary: #55679C;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: sans-serif;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}