.wrapper {
    background-color: var(--nav-background);
    border-top: rgba($color: #ffffff, $alpha: 0.12) solid 1px;
    box-shadow: rgba($color: #000000, $alpha: 0.06) 0px 1px 8px;
    box-shadow: inset rgba($color: #ffffff, $alpha: 0.12) 0 3px 3px -3px;
    width: var(--default-layout-sidebar-width);
    // z-index: 2;
}