.wrapper {
    width: 100%;
    height: var(--default-layout-header-heigh);
    border-bottom: solid #ccc 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner {
    height: 100%;
    width: var(--default-layout-width);
    border: #ccc 2px dashed;
}